Package: combot
Version: 0.12.11.23-v2
Architecture: all
Maintainer: José Ramón Peris  <peris30000@gmail.com>
Installed-Size: 69
Depends: python3-python-telegram-bot, nmap, python3-psutil, python3-pip, python3-netifaces
Section: utils
Priority: optional
Description: Servicio de Bot-Telegram, mi hombre en la dmz.
